<footer>
    <!-- <hr> -->
    <div class="f-div-wrap">
    <div class="f-info">
        <div>
            &copy; 2024 HomeAway, Inc.
        </div>
        <div>
            <a href="">.Privacy</a>
            <a href="">.Terms</a>
            <a href="">.Sitemap</a>
            <a href="">.Company details</a>
        </div>
    </div>
   
   <div class="f-logo">
    <div class="f-globe">
        <i class="fa-solid fa-globe"></i>ENGLISH(IN)
    </div>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-square-x-twitter"></i>
    <i class="fa-brands fa-linkedin"></i>
   </div>
</div>
</footer>