<% layout('layouts/boilerplate') -%>
<body>
  <div class="entry-container">
    <div class="entry-content">
      <h1><i>HomeAway</i></h1>
      <p>Explore <span id="element">hotels</span></p>
      <a href="/listing">Explore Now</a>
    </div>
    <div class="entry-img">
      <img
        src="https://cdn.pixabay.com/photo/2019/09/30/15/41/plan-your-trip-4516099_1280.jpg"
        alt="home"
      />
    </div>
  </div>

  
</body>
