<% layout('layouts/boilerplate') -%>
<style>
  .entry-container {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
  }
  .entry-content {
    /* background-color: blue; */
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .entry-content p {
    font-size: 2rem;
  }
  .entry-content a {
    text-decoration: none;
    background-color: teal;
    color: black;

    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  .entry-content a:hover{
    transition: 0.8s;
    background-color: rgb(175, 41, 175);
    color: white;
  }
  .entry-img {
    /* background-color: brown; */
    width: 60%;
  }
  .entry-img img {
    width: 100%;
    object-fit: cover;
    border-radius: 3rem;
  }
  #element {
    font-weight: 900;
    font-size: 3rem;
    color: rgb(218, 83, 83);
  }
</style>
<body>
  <div class="entry-container">
    <div class="entry-content">
      <h1><i>HomeAway</i></h1>
      <p>Explore <span id="element">hotels</span></p>
      <a href="/listing">Explore Now</a>
    </div>
    <div class="entry-img">
      <img
        src="https://cdn.pixabay.com/photo/2019/09/30/15/41/plan-your-trip-4516099_1280.jpg"
        alt="home"
      />
    </div>
  </div>

  
</body>
