<% layout('layouts/boilerplate') -%>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HomeAway</title>
  </head>
  <body>
    
    <div class="row">
      <div class="col-8 offset-2">
        <h2>Create new listing</h2>
        <form method="post" action="/listing/new" class="needs-validation" novalidate enctype="multipart/form-data">
          <div class="mb-3">
            <label class="form-label" for="title">Enter title </label>
            <input
              id="title"
              class="form-control"
              name="title"
              type="text"
              placeholder="Add a catchy title"
              required
            />
            <div class="valid-feedback">
              Looks good
            </div>
            <div class="invalid-feedback">
              Title should required
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Enter description</label>
            <textarea
              id="description"
              class="form-control"
              name="description"
              placeholder=""
              required
            ></textarea>
            <div class="valid-feedback">
              Looks good
            </div>
            <div class="invalid-feedback">
              Description should required
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label" for="image">Upload Image</label>
            <input
              id="image"
              class="form-control"
              name="image"
              type="file"
            />
          </div>
          <div class="row">
            <div class="mb-3 col-md-5">
              <label class="form-label" for="price">Enter price</label>
              <input
                id="price"
                class="form-control"
                name="price"
                type="number"
                placeholder="4999"
                required
              />
              <div class="valid-feedback">
                Looks good
              </div>
              <div class="invalid-feedback">
                Price should required
              </div>
            </div>
            <div class="mb-3 col-md-7">
              <label class="form-label" for="location">Enter location</label>
              <input
                id="location"
                class="form-control"
                name="location"
                type="text"
                placeholder="Darbhanga/Bihar"
                required
              />
              <div class="valid-feedback">
                Looks good
              </div>
              <div class="invalid-feedback">
                Location should required
              </div>
            </div>
          </div>
          <div>
            <label class="form-label" for="country">Enter country</label>
            <input
              id="country"
              class="form-control"
              name="country"
              type="text"
              placeholder="India"
              required
            />
            <div class="valid-feedback">
              Looks good
            </div>
            <div class="invalid-feedback">
              Country should required
            </div> <br>
          </div>
          <button class="btn btn-dark">Add</button>
        </form>
        
      </div>
    </div>
  </body>
</html>
